# InvestED Valuation Engine

1. 10 Cap Valuation
2. Payback Time
3. Margin of Safety

Based on the "InvestEd" book by Danielle Town and her website/podcast

### Version history
#### Version 0 (initial document)

For the purpose of this exercise, financials for **Delta Airlines** are used

This is also based on an original Excel spreadsheet engine. I am using Python to try to streamline and automate the process, as well as a coding exercise for me. The goal for future versions is to eventually be able to generalize for all public companies, and maybe like implemented through a "dashboard" type of platform.

## Set up data

In [2]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from IPython.display import Markdown as md

In [3]:
read_file = pd.read_excel ('http://web.mit.edu/airlinedata/www/2019%2012%20Month%20Documents/Profitability,%20Balance%20Sheet%20&%20Cash%20Flow/Individual%20Carriers%20SEC%20Data/Delta%20Air%20Lines%20Inc.xls')
read_file.to_csv ('~/Desktop/code_programming/airlines/delta-financials.csv', index = None, header=True)

In [4]:
delta_raw = pd.read_csv('~/Desktop/code_programming/airlines/delta-financials.csv')
years = ['Item','2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014',
         '2015','2016','2017','2018','2019']
delta_raw.columns = years
delta_raw

,Item,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,All units in Millions or Millions USD,2000.0,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019
1,Income Statement,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Passenger Revenue,15657.0,12964.0,12798.0,13022.0,13790.0,14592.0,15493.0,16928.0,19583.0,...,27258.0,30257.0,31807.0,32942.0,34954.0,34782.0,33777.0,34819.0,39755.0,42277
3,Regional Affiliate Revenue,NaN,NaN,2049.0,2629.0,2910.0,3225.0,3853.0,4170.0,4446.0,...,5850.0,6393.0,6570.0,6408.0,6266.0,5884.0,5672.0,5714.0,NaN,NaN
4,Total Revenue,16741.0,13879.0,13866.0,14308.0,15235.0,16480.0,17532.0,19154.0,22697.0,...,31755.0,35115.0,36670.0,37773.0,40362.0,40704.0,39639.0,41244.0,44438.0,47007
5,Wages Salaries & Benefits,5971.0,6124.0,6165.0,6342.0,6338.0,5290.0,4365.0,4189.0,4802.0,...,6751.0,6894.0,7266.0,7720.0,8120.0,8776.0,10034.0,10436.0,10743.0,11225
6,Aircraft Fuel Expense,1969.0,1817.0,1683.0,1938.0,2924.0,4466.0,4433.0,4686.0,7346.0,...,7594.0,9730.0,10150.0,9397.0,11668.0,6544.0,5133.0,5733.0,9020.0,8519
7,Depreciation & Amortization,1187.0,1283.0,1181.0,1230.0,1244.0,1273.0,1276.0,1164.0,1266.0,...,1511.0,1523.0,1565.0,1658.0,1771.0,1835.0,1902.0,2235.0,2329.0,"2,581"
8,Net Interest Expense,257.0,410.0,629.0,721.0,787.0,973.0,801.0,524.0,593.0,...,969.0,901.0,828.0,698.0,650.0,481.0,388.0,396.0,311.0,301
9,Operating Expense,15104.0,15481.0,15175.0,15093.0,18543.0,18481.0,17474.0,18058.0,31011.0,...,29538.0,33140.0,34495.0,34373.0,38156.0,32902.0,32687.0,35130.0,39174.0,40389
10,Operating Income (Loss),1637.0,-1602.0,-1309.0,-785.0,-3308.0,-2001.0,58.0,1096.0,-8314.0,...,2217.0,1975.0,2175.0,3400.0,2206.0,7802.0,6952.0,6114.0,5264.0,6618
11,Pretax Income (Loss),1549.0,-1864.0,-2002.0,-1189.0,-3992.0,-3859.0,-6968.0,1819.0,-9041.0,...,608.0,769.0,1025.0,2527.0,1072.0,7157.0,6636.0,5701.0,5151.0,6198
12,Net Income (Loss),828.0,-1216.0,-1272.0,-773.0,-5198.0,-3818.0,-6203.0,1612.0,-8922.0,...,593.0,854.0,1009.0,10540.0,659.0,4526.0,4373.0,3577.0,3935.0,4767
13,Balance Sheet Asset,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Cash & Short-term Investment,1607.0,2215.0,1969.0,2710.0,1799.0,2008.0,2648.0,2786.0,4467.0,...,3610.0,3615.0,3374.0,3803.0,3305.0,3437.0,3249.0,2639.0,1768.0,2882
15,Restricted Cash & Short-term Investments,0.0,0.0,134.0,207.0,348.0,870.0,750.0,520.0,429.0,...,440.0,341.0,344.0,118.0,37.0,49.0,61.0,39.0,47.0,212
16,Total Current Assets,3205.0,3567.0,3902.0,4550.0,3606.0,4480.0,5385.0,5240.0,8904.0,...,7307.0,7729.0,8272.0,9651.0,9158.0,9056.0,7451.0,7844.0,6340.0,8249
17,Total Assets,21931.0,23605.0,24720.0,25939.0,21801.0,20039.0,19622.0,32423.0,45014.0,...,43188.0,43499.0,44550.0,52252.0,54005.0,53134.0,51261.0,53292.0,60266.0,64532
18,Balance Sheet Liabilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Air Traffic Liability,1442.0,1224.0,1270.0,1308.0,1567.0,1712.0,1797.0,1982.0,3315.0,...,3306.0,3480.0,3696.0,4122.0,4296.0,4503.0,4626.0,4888.0,4661.0,5116
20,Current Liability,5245.0,6403.0,6455.0,6157.0,5941.0,5265.0,5769.0,6605.0,11022.0,...,11385.0,12701.0,13270.0,14152.0,16879.0,17526.0,15239.0,18573.0,18578.0,20204
21,"Long-term Debt & Capital Lease Obligations, Le...",5896.0,8347.0,10174.0,11538.0,13005.0,6557.0,6509.0,7986.0,15411.0,...,13179.0,11847.0,11082.0,9795.0,8561.0,6766.0,6201.0,6592.0,8253.0,8873
22,Pension & Post Retirement Benefits,2026.0,2651.0,5524.0,7139.0,6870.0,0.0,0.0,3867.0,10895.0,...,11493.0,14200.0,16005.0,12392.0,15138.0,13855.0,13378.0,9810.0,9163.0,8452
23,Retained Earnings (Accumulated deficit),4176.0,2930.0,1639.0,844.0,-4374.0,-8209.0,-14414.0,314.0,-8608.0,...,-9252.0,-8398.0,-8577.0,-5130.0,-7311.0,-7275.0,-7636.0,-7621.0,-7825.0,-7989
24,Total Stockholder Equity (deficit),5343.0,3769.0,893.0,-659.0,-5796.0,-9895.0,-13593.0,10113.0,874.0,...,897.0,-1396.0,-2131.0,11643.0,8813.0,10850.0,12287.0,13910.0,13687.0,15358
25,Cash Flow Statement,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Net Cash Provided by (Used in) Operating Activity,2898.0,236.0,225.0,244.0,-1023.0,-307.0,993.0,1359.0,-1707.0,...,2832.0,2834.0,2476.0,4504.0,4947.0,7927.0,7205.0,5148.0,7014.0,8425
27,Net Cash Provided by (Used in) Investing Activ...,-3396.0,-2696.0,-1109.0,-362.0,-320.0,22.0,-361.0,-625.0,1598.0,...,-2026.0,-1498.0,-1962.0,-2756.0,-2463.0,-3955.0,-2155.0,-5366.0,-4393.0,-4563
28,Net Cash Provided by (Used in) Financing activ...,239.0,3306.0,583.0,548.0,636.0,830.0,-606.0,-120.0,1716.0,...,-2521.0,-1571.0,-755.0,-1320.0,-3240.0,-4088.0,-4260.0,-730.0,-1726.0,-2880
29,Payments on Long-term Debt and Capital Lease O...,-853.0,-173.0,-1113.0,-802.0,-1452.0,-1615.0,-476.0,-1480.0,-1296.0,...,-3722.0,-4172.0,-2862.0,-1461.0,-2928.0,-2558.0,-1709.0,-1258.0,-3052.0,-3320
30,Proceeds from Issuance of Long-term Debt,1867.0,2335.0,2554.0,1774.0,2123.0,295.0,0.0,2005.0,2132.0,...,1130.0,2395.0,1965.0,268.0,1020.0,1038.0,450.0,2454.0,3745.0,2057
31,Net Increase (Decrease) in Cash,-259.0,846.0,-301.0,430.0,-707.0,545.0,36.0,614.0,1607.0,...,-1715.0,-235.0,-241.0,428.0,-756.0,-116.0,790.0,-948.0,895.0,982
32,Operating Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Consolidated Passengers (thousands),0.0,0.0,107048.0,104452.0,110000.0,118853.0,106649.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
34,Consolidated ASM,0.0,0.0,145232.0,139505.0,151679.0,156793.0,147995.0,151764.0,165639.0,...,232684.0,234656.0,230415.0,232740.0,239676.0,246764.0,251867.0,254325.0,263365.0,275379
35,Consolidated RPM,0.0,0.0,104422.0,102301.0,113311.0,119954.0,116133.0,122065.0,134879.0,...,193169.0,192767.0,192974.0,194988.0,202925.0,209625.0,213098.0,217712.0,225243.0,237680
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Data Source: SEC 10K Filings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,"Note: In 2018 and 2019, many airlines changed ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,can be found in SEC’s EDGAR tool.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Note: Zero value might also mean data not repo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Input Data

### Income Statement

In [35]:
IncomeStatement = pd.DataFrame(delta_raw.iloc[2:13,])
IncomeStatement.rename(columns = {'Item': 'Income Statement'}, inplace=True)
IncomeStatement.reset_index(drop=True, inplace=True)
IncomeStatement.set_index('Income Statement', inplace=True)

IncomeStatement

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Income Statement,,,,,,,,,,,,,,,,,,,,
Passenger Revenue,15657.0,12964.0,12798.0,13022.0,13790.0,14592.0,15493.0,16928.0,19583.0,23807.0,27258.0,30257.0,31807.0,32942.0,34954.0,34782.0,33777.0,34819.0,39755.0,42277
Regional Affiliate Revenue,NaN,NaN,2049.0,2629.0,2910.0,3225.0,3853.0,4170.0,4446.0,5285.0,5850.0,6393.0,6570.0,6408.0,6266.0,5884.0,5672.0,5714.0,NaN,NaN
Total Revenue,16741.0,13879.0,13866.0,14308.0,15235.0,16480.0,17532.0,19154.0,22697.0,28063.0,31755.0,35115.0,36670.0,37773.0,40362.0,40704.0,39639.0,41244.0,44438.0,47007
Wages Salaries & Benefits,5971.0,6124.0,6165.0,6342.0,6338.0,5290.0,4365.0,4189.0,4802.0,6838.0,6751.0,6894.0,7266.0,7720.0,8120.0,8776.0,10034.0,10436.0,10743.0,11225
Aircraft Fuel Expense,1969.0,1817.0,1683.0,1938.0,2924.0,4466.0,4433.0,4686.0,7346.0,7384.0,7594.0,9730.0,10150.0,9397.0,11668.0,6544.0,5133.0,5733.0,9020.0,8519
Depreciation & Amortization,1187.0,1283.0,1181.0,1230.0,1244.0,1273.0,1276.0,1164.0,1266.0,1536.0,1511.0,1523.0,1565.0,1658.0,1771.0,1835.0,1902.0,2235.0,2329.0,"2,581"
Net Interest Expense,257.0,410.0,629.0,721.0,787.0,973.0,801.0,524.0,593.0,881.0,969.0,901.0,828.0,698.0,650.0,481.0,388.0,396.0,311.0,301
Operating Expense,15104.0,15481.0,15175.0,15093.0,18543.0,18481.0,17474.0,18058.0,31011.0,28387.0,29538.0,33140.0,34495.0,34373.0,38156.0,32902.0,32687.0,35130.0,39174.0,40389
Operating Income (Loss),1637.0,-1602.0,-1309.0,-785.0,-3308.0,-2001.0,58.0,1096.0,-8314.0,-324.0,2217.0,1975.0,2175.0,3400.0,2206.0,7802.0,6952.0,6114.0,5264.0,6618
Pretax Income (Loss),1549.0,-1864.0,-2002.0,-1189.0,-3992.0,-3859.0,-6968.0,1819.0,-9041.0,-1581.0,608.0,769.0,1025.0,2527.0,1072.0,7157.0,6636.0,5701.0,5151.0,6198
Net Income (Loss),828.0,-1216.0,-1272.0,-773.0,-5198.0,-3818.0,-6203.0,1612.0,-8922.0,1237.0,593.0,854.0,1009.0,10540.0,659.0,4526.0,4373.0,3577.0,3935.0,4767

### Balance Sheet

In [29]:
Assets = pd.DataFrame(delta_raw.iloc[14:18,])
Assets.rename(columns = {'Item': 'Assets'}, inplace=True)
Assets.reset_index(drop=True, inplace=True)
Assets.set_index('Assets', inplace=True)

Assets

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Assets,,,,,,,,,,,,,,,,,,,,
Cash & Short-term Investment,1607.0,2215.0,1969.0,2710.0,1799.0,2008.0,2648.0,2786.0,4467.0,4678.0,3610.0,3615.0,3374.0,3803.0,3305.0,3437.0,3249.0,2639.0,1768.0,2882
Restricted Cash & Short-term Investments,0.0,0.0,134.0,207.0,348.0,870.0,750.0,520.0,429.0,423.0,440.0,341.0,344.0,118.0,37.0,49.0,61.0,39.0,47.0,212
Total Current Assets,3205.0,3567.0,3902.0,4550.0,3606.0,4480.0,5385.0,5240.0,8904.0,7991.0,7307.0,7729.0,8272.0,9651.0,9158.0,9056.0,7451.0,7844.0,6340.0,8249
Total Assets,21931.0,23605.0,24720.0,25939.0,21801.0,20039.0,19622.0,32423.0,45014.0,43789.0,43188.0,43499.0,44550.0,52252.0,54005.0,53134.0,51261.0,53292.0,60266.0,64532

In [30]:
Liabilities = pd.DataFrame(delta_raw.iloc[19:23,])
Liabilities.rename(columns = {'Item': 'Liabilities'}, inplace=True)
Liabilities.reset_index(drop=True, inplace=True)
Liabilities.set_index('Liabilities', inplace=True)

Liabilities

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Liabilities,,,,,,,,,,,,,,,,,,,,
Air Traffic Liability,1442.0,1224.0,1270.0,1308.0,1567.0,1712.0,1797.0,1982.0,3315.0,3074.0,3306.0,3480.0,3696.0,4122.0,4296.0,4503.0,4626.0,4888.0,4661.0,5116
Current Liability,5245.0,6403.0,6455.0,6157.0,5941.0,5265.0,5769.0,6605.0,11022.0,9797.0,11385.0,12701.0,13270.0,14152.0,16879.0,17526.0,15239.0,18573.0,18578.0,20204
"Long-term Debt & Capital Lease Obligations, Less Current Maturities",5896.0,8347.0,10174.0,11538.0,13005.0,6557.0,6509.0,7986.0,15411.0,15665.0,13179.0,11847.0,11082.0,9795.0,8561.0,6766.0,6201.0,6592.0,8253.0,8873
Pension & Post Retirement Benefits,2026.0,2651.0,5524.0,7139.0,6870.0,0.0,0.0,3867.0,10895.0,11745.0,11493.0,14200.0,16005.0,12392.0,15138.0,13855.0,13378.0,9810.0,9163.0,8452

In [31]:
Equity = pd.DataFrame(delta_raw.iloc[23:25,])
Equity.rename(columns = {'Item': 'Equity'}, inplace=True)
Equity.reset_index(drop=True, inplace=True)
Equity.set_index('Equity', inplace=True)

Equity

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Equity,,,,,,,,,,,,,,,,,,,,
Retained Earnings (Accumulated deficit),4176.0,2930.0,1639.0,844.0,-4374.0,-8209.0,-14414.0,314.0,-8608.0,-9845.0,-9252.0,-8398.0,-8577.0,-5130.0,-7311.0,-7275.0,-7636.0,-7621.0,-7825.0,-7989
Total Stockholder Equity (deficit),5343.0,3769.0,893.0,-659.0,-5796.0,-9895.0,-13593.0,10113.0,874.0,245.0,897.0,-1396.0,-2131.0,11643.0,8813.0,10850.0,12287.0,13910.0,13687.0,15358

### Cash Flow Statement

In [32]:
CashFlow = pd.DataFrame(delta_raw.iloc[26:32,])
CashFlow.rename(columns = {'Item': 'Cash Flow'}, inplace=True)
CashFlow.reset_index(drop=True, inplace=True)
CashFlow.set_index('Cash Flow', inplace=True)

CashFlow

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Cash Flow,,,,,,,,,,,,,,,,,,,,
Net Cash Provided by (Used in) Operating Activity,2898.0,236.0,225.0,244.0,-1023.0,-307.0,993.0,1359.0,-1707.0,1379.0,2832.0,2834.0,2476.0,4504.0,4947.0,7927.0,7205.0,5148.0,7014.0,8425
Net Cash Provided by (Used in) Investing Activities,-3396.0,-2696.0,-1109.0,-362.0,-320.0,22.0,-361.0,-625.0,1598.0,-1008.0,-2026.0,-1498.0,-1962.0,-2756.0,-2463.0,-3955.0,-2155.0,-5366.0,-4393.0,-4563
Net Cash Provided by (Used in) Financing activities,239.0,3306.0,583.0,548.0,636.0,830.0,-606.0,-120.0,1716.0,-19.0,-2521.0,-1571.0,-755.0,-1320.0,-3240.0,-4088.0,-4260.0,-730.0,-1726.0,-2880
Payments on Long-term Debt and Capital Lease Obligation,-853.0,-173.0,-1113.0,-802.0,-1452.0,-1615.0,-476.0,-1480.0,-1296.0,-2891.0,-3722.0,-4172.0,-2862.0,-1461.0,-2928.0,-2558.0,-1709.0,-1258.0,-3052.0,-3320
Proceeds from Issuance of Long-term Debt,1867.0,2335.0,2554.0,1774.0,2123.0,295.0,0.0,2005.0,2132.0,2966.0,1130.0,2395.0,1965.0,268.0,1020.0,1038.0,450.0,2454.0,3745.0,2057
Net Increase (Decrease) in Cash,-259.0,846.0,-301.0,430.0,-707.0,545.0,36.0,614.0,1607.0,352.0,-1715.0,-235.0,-241.0,428.0,-756.0,-116.0,790.0,-948.0,895.0,982

### Operating Statistics

In [33]:
Operations = pd.DataFrame(delta_raw.iloc[33:36,])
Operations.rename(columns = {'Item': 'Operating Stats'}, inplace=True)
Operations.reset_index(drop=True, inplace=True)
Operations.set_index('Operating Stats', inplace=True)

Operations

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Operating Stats,,,,,,,,,,,,,,,,,,,,
Consolidated Passengers (thousands),0.0,0.0,107048.0,104452.0,110000.0,118853.0,106649.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
Consolidated ASM,0.0,0.0,145232.0,139505.0,151679.0,156793.0,147995.0,151764.0,165639.0,230331.0,232684.0,234656.0,230415.0,232740.0,239676.0,246764.0,251867.0,254325.0,263365.0,275379
Consolidated RPM,0.0,0.0,104422.0,102301.0,113311.0,119954.0,116133.0,122065.0,134879.0,188943.0,193169.0,192767.0,192974.0,194988.0,202925.0,209625.0,213098.0,217712.0,225243.0,237680

### Calculated (not raw financial statement) values

Will eventually be automated (i.e., not hard-coded) but for now, these values are:
1. Property, Plant & Equipment
2. Capital Expenditures
3. Year (string) input
4. Number of outstanding shares
5. Windage growth rate

As defined by Danielle (and Phil) Town in the book "Invested":

*Those four key numbers show how well the company did in the past; the next step is to figure out what you, 
the investor, think is a good overall growth rate for the company going forward. This is a judgement call
based on your own research, akin to taking ‘windage’ into account when shooting a gun.*

*Most financial statements have three to five years of data in them; if you find the most recent 10-K (the
annual company financial report, available on the company website) and the one from five years ago, you can
figure out average growth rates for the four key numbers over, say, three- five- and ten-year periods.
Combined with analyst predictions of how the company is expected to grow going forward and your own best 
guess, you can now come up with an overall growth rate for the company.*

6. Earnings Per Share
7. Minimum Average Rate of Return

Assumption taken from "Invested" book as well to set at 15% to build the "optimal" portfolio. But further
testing and analysis will be conducted.

8. Windage P/E

Used in the third valuation method (Margin of Safety) to calculate the future value from the projected future
EPS after ten years. Again, based on the "Invested" book, this number will be either the highest (or highest
"within reason" P/E ratio over the last ten years, according to my judgment when choosing that "P/E") or 20 (=
2 * 10 years), the higher of the two.

In [6]:
test_values = {"ppe": 31310,
              "capex": 4936,
              "year": "2019",
              "outstanding shares": 653,
              "FCF_adjustment": 302,
              "windage growth": .05,
              "EPS": 7.3,
              "MARR": .15,
              "windage P/E": 16.54}

## 10 Cap Valuation

In [7]:
# Maintenance Capital Expenditures
def CapEx(inc_statement, ppe, capex, year):
    revenue = int(inc_statement.loc['Total Revenue', year])
    prev_revenue = int(inc_statement.loc['Total Revenue', str(int(year)-1)])
    change_rev = revenue - prev_revenue
    return int("%.0f" % abs(((ppe / revenue) * change_rev) - capex))

In [8]:
# Calculating 10 Cap valuation price
def TenCap(income_statement, cash_flow, testvalues):
    op_cashflow = int(cash_flow.loc['Net Cash Provided by (Used in) Operating Activity', testvalues["year"]])
    income_tax = int(income_statement.loc['Pretax Income (Loss)', testvalues["year"]]) - int(income_statement.loc['Net Income (Loss)', testvalues["year"]])
    maintenance_capex = CapEx(income_statement, testvalues["ppe"], testvalues["capex"], testvalues["year"])
    owner_earnings = op_cashflow - income_tax - maintenance_capex
    
    tencap = owner_earnings * 10
    tencap_pershare = tencap / testvalues["outstanding shares"]
    
    return float("%.2f" % tencap_pershare)

## Payback Time Valuation

In [43]:
def PaybackTime(cash_flow, testvalues):
    op_cashflow = int(cash_flow.loc['Net Cash Provided by (Used in) Operating Activity', testvalues["year"]])
    inv_cashflow = int(cash_flow.loc['Net Cash Provided by (Used in) Investing Activities', testvalues["year"]])
    fcf = op_cashflow + inv_cashflow + testvalues["FCF_adjustment"]
    
    # initialize projection
    year0 = fcf
    expected_growth = testvalues["windage growth"]
    
    # project FCF growth over 8 years
    prev = year0
    runningbalance = 0
    years = []
    for year in range(8):
        current = prev * (1+expected_growth)
        years.append(float("%.2f" % current))
        runningbalance += current
        if year == 5:
            year5 = current
        prev = current
    
    year8 = current
    cum_fcf = runningbalance
    
    payback = runningbalance / testvalues["outstanding shares"]
    
    return float("%.2f" % year5), float("%.2f" % year8), float("%.2f" % payback), years

## Margin of Safety Valuation

In [10]:
def MarginOfSafety(testvalues):
    # projected for 10 years out
    years = 10
    futureEPS = testvalues["EPS"] * (1+testvalues["MARR"])**years
    FV = futureEPS * testvalues["windage P/E"]
    sticker_price = FV / 4
    margin_safety = sticker_price / 2
    
    return float("%.2f" % sticker_price), float("%.2f" % margin_safety)

## Results

In [44]:
tencap = TenCap(IncomeStatement, CashFlow, test_values)
payback = PaybackTime(CashFlow, test_values)
margin_safety = MarginOfSafety(test_values)

All valuations are on per-share basis

In [12]:
md("Ten Cap Valuation: ${:,.2f}".format(tencap))

Ten Cap Valuation: $57.72

In [45]:
md("Payback Time Valuation: ${:,.2f}".format(payback[2]))

Payback Time Valuation: $63.94

In [46]:
payback[3]

[4372.2, 4590.81, 4820.35, 5061.37, 5314.44, 5580.16, 5859.17, 6152.12]

In [14]:
md("Margin of Safety Valuation: ${:,.2f}".format(margin_safety[1]))

Margin of Safety Valuation: $61.06